a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color:black;
}





body {
    font-size:18px;
    line-height: 1.25;
    --gutter-width : 30px;
    --col-width: calc(100vh / 8);
}


.header{
    width:100%;
    background: white;
    position: relative;
    position:sticky;
    top:0;
    text-align: center;
    padding: 50px 0;
    margin:50px 0;
    box-sizing: border-box;
}

.header::after {
    content:"";
    height:100%;
}

.player {
    position: absolute;
    top:50px;
    right:var(--col-width);
}
.player__btn {
    width:40px;
    height:40px;
    position:relative;
    cursor:pointer;
}

/* svg path {
    stroke-width: 1.5px;
    stroke-miterlimit: round;
    -webkit-transition: stroke-dashoffset 850ms ease-in-out;
    transition: stroke-dashoffset 850ms ease-in-out;
} */

.player__btn .player__playicon {
    position: absolute;
    text-align: center;
    /* line-height: 1rem; */
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.player__progress {
    width:40px;
    height:40px;
    transform: scaleX(-100%) rotateZ(90deg) ;
}

.player__progressbar {
    /* transform:rotateZ(90deg); */
}


h1 {
    font-size: 3.5em;
    text-transform: uppercase;
}

.work--item {
    display:block;
}

.main {
    padding: 0 var(--col-width);
}

.footer {
    background:#F2F2F2;
    box-sizing: border-box;
    padding: 50px var(--col-width);
    margin-top:50px;
}