/* -------------- GENERAL STYLES -----------------*/

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color:inherit;
}

body {
    font-size:16px;
    line-height: 1.3;
    /* color: var(--alt-color); */
    --main-color : #000000;
    --alt-color : #848484;
    --font-size-xs : 0.85rem;
    --gutter-width : 25px;
    --col-width: calc(100vw / 16);    
    font-family: 'PT Serif', serif;
    /* font-kerning: auto;
    letter-spacing: -0.015em; */
}

.main {
    /* padding: 50px var(--col-width); */
    max-width: calc(var(--col-width) *8);
    margin: 0 auto;
}

h1+p {
    margin-top: 0.7em;
}
p+p {
    margin-top: 0.7em;
}

.footer {
    background:#fAfAfA;
    box-sizing: border-box;
    padding: 25px calc(var(--col-width) * 4);
    margin-top: 50px;
    font-size: var(--font-size-xs);
}

.footer__details {
    margin-top: 0.84em;
    width: 100%;
    text-align: justify;
    text-align-last: center;
}


/* -------------- HEADER STYLES -----------------*/

.header{
    width:100%;
    overflow: hidden;
    max-height: 100vh;
    background: white;
    position:sticky;
    z-index: 3;
    top:0;
    text-align: center;
    padding: 25px 0;
    margin:75px 0 75px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header::after {
    content:"";
    height:100%;
}

.header__title--main {
    position: relative;
}

.header__title--main a {
    display:block;
}

.title-logo {
    background-image: url("../assets/img/444logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:0.91em;
    margin-top:0.83rem;
    margin-bottom: 0.28rem;
    /* opacity:0.75; */
}

.header h1 {
    font-size: 3.2em;
    text-transform: uppercase;
}
.header .sous-titre {
    /* font-size: 1.2em; */
    margin-top: 0rem;
    /* font-size: var(--font-size-xs); */
}

.header .player {
    position: absolute;
    z-index: -1;
    top:50px;
    right:var(--col-width);
}

.player__btn {
    width:35px;
    height:35px;
    position:relative;
    cursor:pointer;
}

.player__btn .player__icon {
    /* color: var(--alt-color); */
    position: absolute;
    width:100%;
    height:100%;
    /* background-size: contain; */
    /* display: block;
    text-align: center;
    line-height: 1;
    font-size:13px;
    top: 50%;
    left:50%; 
    transform: translate(-50%,-50%); */
}
.player__icon--play {
    background-image: url('../assets/img/play-icon.png');
}
.player__icon--pause {
    background-image: url('../assets/img/pause-icon.png');
}

.player__progress {
    width:35px;
    height:35px;
    transform: scaleX(-100%) rotateZ(90deg) ;
}

.player__progressbg {
    stroke : var(--alt-color);
    stroke-width: 2px;
}

.player__progressbar {
    stroke : #fff;
    stroke-width: 3px;
}

/* -------------- LOADER STYLES -----------------*/

body.loading {
    overflow: hidden;
} 

.loading .titre {
    opacity:0;
}

/* .loading .header {
    margin:0;
} */

.loading-screen {
    /* pointer-events: none; */
    background:white;
    top:0;
    left:0;
    position: fixed;
    z-index: -1;
    width:100%;
    height:100%;
}

.loader {
    /* margin: 50px 0; */
    height:calc(100vh - 100px);
}

/* -------------- ANIMATION STYLES -----------------*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
    }
    0% {
        opacity: 0;
    }
}

@keyframes loading {
    100% {
        opacity: 0.4;
    }
    0% {
        opacity: 0.1;
    }
}


/* .loading .header h1 {
    animation: fadeIn alternate-reverse ease-in-out 2s infinite;
} */

/*--------------- HOME --------------*/

.main--feed {
    box-sizing: border-box;
    max-width: calc(var(--col-width) *6);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work--item {
    display:block;
    width: calc(50% - (var(--gutter-width) / 2));
    margin-bottom: var(--gutter-width);
}

.work--item .cover,
.work--item img {
    width: 100%;
}




/*--------------- ARTICLE --------------*/

.article__header {
    display:flex;
    flex-wrap: wrap;
}

.article__header img {
    width: calc( (var(--col-width)*3) - (var(--gutter-width) / 2));
    margin-right: var(--gutter-width);
    object-fit: contain;
}

.article__main {
    padding: 80px 0;
}

.article__infos{
    flex:1;
}

.article__infos h1{
    font-size:2em;
    margin-bottom: 0.5rem;
    text-transform: none;
}

.article__item {
    position:relative;
    width:100%;
    display:flex;
    align-items: flex-end;
    /* font-size: 3em; */
}
.article__item{
    margin:20px 0;
}

.article__item:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.points {
    flex:1;
    height: 1em;
    margin-bottom:0.3em;
    border-bottom: dotted 0.12em;
}

.article__medias {
    /* margin: 25px 0; */
}
.article__video { 
    position: relative; 
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden; 
    margin-bottom: 100px;
}

.article__video iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.article__video:last-child{
    /* margin-bottom: 50px; */
}




/* --------------- RESPONSIVE STYLES -------------*/

@media screen and (max-width:768px) {
    body {
        font-size:17px;
        line-height: 1.25;
        --gutter-width : 20px;
        --col-width: 20px;
    }
    .main, 
    .footer {
        max-width: 100%;
        padding-right:  calc(var(--col-width));
        padding-left: calc(var(--col-width));
    }
    .work--item {
        width: 100%;
    }
    .article__header img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .article__infos {
        margin-top: 25px;
    }
    /* .article__video {
        width:100%;
        height:30vh;
    } */
}

@media screen and (min-width: 769px) {
    /* .work--item .cover {
        filter: grayscale(1);
        -webkit-transition: 0.2s -webkit-filter ease-in;
        -moz-transition: 0.2s -moz-filter ease-in;
        -moz-transition: 0.2s filter ease-in;
        -ms-transition: 0.2s -ms-filter ease-in;
        -o-transition: 0.2s -o-filter ease-in;
        transition: 0.2s filter ease-in, 0.2s -webkit-filter ease-in;
        
    }
    .work--item .cover:hover {
        filter: grayscale(0);
        -webkit-transition: 0.2s -webkit-filter ease-out;
        -moz-transition: 0.2s -moz-filter ease-out;
        -moz-transition: 0.2s filter ease-out;
        -ms-transition: 0.2s -ms-filter ease-out;
        -o-transition: 0.2s -o-filter ease-out;
        transition: 0.2s filter ease-out, 0.2s -webkit-filter ease-out;
    } */
}